.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.loginContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
}

.loginImg {
    width: 400px;
}

.loginLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginRight {
    display: flex;
    flex-direction: column;

}

.loginForm {
    display: flex;
    flex-direction: column;

}

.loginTitle {
    font-size: 32px;
    font-weight: 500;
    margin: 20px 0;
    text-align: center;
}

.loginForm .loginInput {
    padding-left: 20px;
    font-size: 12px;
    outline: none;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 50px;
    margin: 10px 0;
    height: 40px;
    width: 300px;
    display: flex;
    align-content: center;
    justify-content: center;

}



.loginContainer .loginButton {
    background-color: rgb(56, 76, 255);
    color: white;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 400;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    margin: 10px 0;
}

hr {
    opacity: 50%;
    margin: 5px 0;
}

.loginContainer .loginButton:hover {
    background-color: rgb(83, 101, 255);
}

.loginOthers {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.loginHelperText {
    font-size: 12px;
    margin: 10px 0 10px 10px;
    color: grey;
    display: inline-block;
    width: 300px;
}


.loginRegister {

    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 13px;
    padding: 0 10px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: inherit;
}

.signInIcons {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.signInIcons .signIn {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 18px !important;
    margin-right: 10px;

}


.loginError {
    font-size: 10px;
    padding-left: 10px;
    color: red;
}

.resetTitle {
    font-weight: 600;

}

.resetDetails {
    color: gray;
    font-weight: 500;
    font-size: 12px;
    margin: 10px 0;
}

@media screen and (max-width : 600px) {
    .loginImg {
        width: 300px;
    }

    .login {
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: #000000;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #434343, #000000);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #434343, #000000);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

}