.newUser {

    flex: 4;
}

.newUserItem {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px;
}

.newUserForm {
    display: flex;
    flex-wrap: wrap;


}

label {
    font-weight: 400;
    font-size: medium;
    margin-bottom: 10px;
    font-size: 14px;
}

.newUserRadio {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.newUserRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.newUserRight .newUserCreate {
    width: 80px;
    background-color: rgb(59, 59, 59);
    color: white;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
}

.newUserRight .newUserCreate:hover {
    background-color: rgb(80, 80, 80);
}

.newUserTitle {
    margin: 20px;
}