.facebook-login {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 18px !important;
    margin-right: 10px;
    cursor: pointer;
}

.facebook-login:hover {
    background-color: whitesmoke;
}